<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-us" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta content="text/html; charset=utf-8" http-equiv="content-type" />
   <title>{{ page.title }}</title>
   <meta content="Bogdan Maxim" name="author" />
   <link href="http://feeds.feedburner.com/bogdanmaxim" rel="alternate" title="Bogdan Maxim" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link href="/css/syntax.css" rel="stylesheet" type="text/css" />

   <!-- Homepage CSS -->
   <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
   
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Bogdan Maxim</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Bogdan Maxim<br />
		<a href="http://bogdanmaxim.ro">bogdanmaxim.ro</a><br />
        blog@bogdanmaxim.ro
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/bogdanmaxim/">github.com/bogdanmaxim</a><br />
        <a href="http://twitter.com/bogdanmaxim/">twitter.com/bogdanmaxim</a><br />
      </p>
	  <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"/></a>
    </div>
    <div class="rss">
		<a href="http://feeds.feedburner.com/bogdanmaxim" rel="alternate" title="Subscribe to my feed" type="application/rss+xml">
			<img alt="" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" style="border:0" />
		</a>
		<a href="http://feeds.feedburner.com/bogdanmaxim" rel="alternate" title="Subscribe to my feed" type="application/rss+xml">Subscribe in a reader</a>
    </div>
  </div>
</div>

<p>
<a href="http://github.com/bogdanmaxim">
<img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" style="position: absolute; top: 0; right: 0; border: 0;" />
</a>
</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-260976-3");
pageTracker._trackPageview();
</script> 
</body> 

</body>
</html>